.main_e_profile {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group{
    margin-top: 10px !important;
}
.card {
    border: none;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form-control .input-field {
    border-radius: 5px;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.btn-primary{
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-success {
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-group {
    flex: 1;
    min-width: calc(50% - 1rem);
}

label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
}

.form_button{
    margin-top: 15px !important;
    vertical-align: 0px;
}

