/* Roboto*/ @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
/* Poppins*/@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #f5f5f5;
	font-family: "Poppins", sans-serif !important;	
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #7A838B;
    margin-bottom: 13px;
}
.button-style-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: green;
    border: 2px solid green;
    text-decoration: none; /* önemli */
    transition: all 0.3s ease;
    width: 100%;
    border-radius: 5px;
}

.button-style-1:hover {
    background-color: green;
    color: white;
    border-color: green;
}
